html, body{
    width:100%;
    padding:0%;
    margin:0%;
}
body {
    background-color: #fff;
    color: #3C454F;
    
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;top:0;right:0%;
    width:100%;padding-top: 8px;
    border-bottom:1px solid #cacaca;z-index:99;
    background-color: #fff;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width:80%;
}

#nav-bar a {
    color: #3C454F;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size:1.1em;
    text-align:center;
}

#nav-bar a:hover {
    transition-duration: 0.5s;
    color: #CC1632;
}

#logo-container {/*
border:1px solid black;*/
}

#header-img {
    margin-left:0%;
    max-width: 35px;
    min-width: 35px;
    max-height: 35px;
    min-height: 35px;    
}

@media screen and (max-width: 800px) {    
    #nav-bar a {
        font-size: 1.05em;
        height:auto;
    }
}
@media screen and (max-width: 350px){
    #header {
        padding-top:4px;
    }
    #logo-container {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
        align-self: center;
    }
    #header-img {
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;    
    }
    #nav-bar {
        width: auto;
        justify-content:space-around;
    }
    #nav-bar a {
        font-size: 1em;
        height:auto;
        text-align:right;
    }
}
@media screen and (max-width: 300px) {
    #nav-bar {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #nav-bar a {
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 0.9em;
    }
}



h1 {
    text-align: center;
    margin-top: 80px;
    font-size:2.5em;
}
@media screen and (max-width: 800px){
    h1{
        font-size:2.2em;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size:2em;
    }
}
@media screen and (max-width: 350px){
    h1{
        font-size:1.8em;
    }
}
@media screen and (max-width: 280px){
    h1{
        font-size:1.5em;
        padding-right:4px; padding-left:4px;
    }
}

form {
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    padding-top: 1%;
    margin-top:8%;margin-bottom:8%;
}
input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #cacaca;
}
@media screen and (max-width: 800px) {
    form {
        width: 40%;
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 600px) {
    form {
        width: 50%;
    }
}
@media screen and (max-width: 450px) {
    form {
        width: 60%;
    }
}
@media screen and (max-width: 300px) {
    form {
        width: 70%;
    }
}
@media screen and (max-width: 250px) {
    form {
        width: 80%;
    }
}
@media screen and (max-width: 200px) {
    form {
        width: 98%;
    }
}

#submit {
    background-color: #CC1632;
    border: none;
    color: #fff;
    cursor: pointer;
    border: 1px solid #CC1632;
    transition-duration: 0.5s;
}

#submit:hover {
    transition-duration: 0.5s;
    color: #CC1632;
    background-color: #fff;
}

#product-features-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content:space-around;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
}

@media screen and (max-width: 700px) {
    #product-features-area-container {
        width: 90%;
        margin-top: 20%;
    }
}
@media screen and (max-width: 350px){
    #product-features-area-container {
        width: 98%;
        margin-top: 40%;
    }
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:2%;padding-bottom:2%;
}

.feature-container>* {
    margin: 5%;
}

.feature-icon-container {
    font-size: 4em;
    color: #CC1632;
    text-align: center;
    /*so that i can center the text vertically*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

.feature-text-container {
    font-size: 1.5em;
    text-align: left;
    /*so that i can center the text vertically*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

@media screen and (max-width: 700px) {
    .feature-container {
        display: block;
        margin: 1%;
    }

    .feature-container * {
        margin: auto;
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .feature-icon-container {
        font-size: 3.5em;
        width: auto;
        text-align: center;
    }

    .feature-text-container {
        font-size: 1.2em;
        width: auto;
        text-align: center;
    }
}
@media screen and (max-width: 350px){
    .feature-icon-container {
        font-size: 3em;
    }
    .feature-text-container {
        font-size: 1em;
    }
}

iframe{
   height: 100%;width: 70%;display: block;margin-left: auto;margin-right: auto;
}
@media screen and (max-width: 500px){
iframe{
   height: 100%;width: 95%;display: block;
}
}

#pricing-container{
    display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-around;
    width:70%;margin-right: auto;margin-left: auto;
    margin-top: 5%;
    font-size: 1.5em;
}
.price-category-container p{
    text-align: center;
    font-size: 2.2em;
}
@media screen and (max-width: 700px) {
    #pricing-container {
        width: 90%;
        margin-top: 10%;
    }
}

footer{
    margin-top:10%;
    text-align: center;
    background-color: #cacaca;
    padding-top: 25px;
    padding-bottom: 25px;
}